@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}
/*
Primary

darkPurple: 	#311b92;
dreamBlue;		#475dfb
hotPink: 			#ff0d49;

lightBlue: 		#006aff;
fcRed: 				#cc0c00;

shade1 				#cfd8dc
shade2				#b0b3c5
shade3 				#90a4a3
shade4 				#263238
*/

hr {
	border-color: #b0b3c5;
	margin-bottom: 10px;
}

#header-sec {
	width: 100%;
	height: 300px;
	padding: 40px 100px;
	margin-bottom: 80px;
	/*background-color: #311b92;*/
	/*background: rgba(49,27,146,1);
	background: -moz-linear-gradient(45deg, rgba(49,27,146,1) 0%, rgba(49,27,146,1) 34%, rgba(255,13,73,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(49,27,146,1)), color-stop(34%, rgba(49,27,146,1)), color-stop(100%, rgba(255,13,73,1)));
	background: -webkit-linear-gradient(45deg, rgba(49,27,146,1) 0%, rgba(49,27,146,1) 34%, rgba(255,13,73,1) 100%);
	background: -o-linear-gradient(45deg, rgba(49,27,146,1) 0%, rgba(49,27,146,1) 34%, rgba(255,13,73,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(49,27,146,1) 0%, rgba(49,27,146,1) 34%, rgba(255,13,73,1) 100%);
	background: linear-gradient(45deg, rgba(49,27,146,1) 0%, rgba(49,27,146,1) 34%, rgba(255,13,73,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#311b92', endColorstr='#ff0d49', GradientType=1 );*/
	/*background: url('../img/flight-dreams-intro.png');*/
	background: url('../img/travel-dream-intro-bg.jpg');
	background-size: cover;
	background-position: bottom;
}


#header-page {
	font-size: 3em;
	color: white;
	font-weight: 100;
	margin-bottom: 40px;
	position: relative;
	top: 140px;
}

.rec-product {
	/*border: 1px solid red;*/
	padding-left: 0;
}

.rec-label {
	color: #90a4a3;
	font-weight: lighter;
	margin-bottom: 15px;
}

.destination-name	{
	margin-bottom: 10px;
	color: #475dfb;
}

.destination-level3 {
	font-size: 1.1em;
	margin-bottom: 40px;
}

.product-id {
	color: #b0b3c5;
	margin-bottom: 40px;
}

.package-label {
	color: #90a4a3
}

.category-sec {
	margin-bottom: 40px;
}

.category-name {
	font-size: 1.2em;
}

.subcategory-sec {
	margin-bottom: 20px;
}
.subcategory-name {
	font-size: 1.2em;
}

.seo-tags {
	display: inline-block;
	padding: 10px 15px;
	background-color: #cfd8dc;
	color: #475dfb;
	border-radius: 3em;
	margin-right: 8px;
	margin-top: 8px;
}

#product-rec-sec {
	margin-bottom: 80px;
}

#emotion-sec {
	margin-bottom: 100px;
}

.emotion-title {
	margin-top: 40px;
	color: #263238;
	font-weight: lighter;
}
.emotion-description {
	font-weight: lighter;
	font-size: 1.2em;
	color: #90a4a3;
	margin-bottom: 60px;
}
